@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    opa gangam ...
    <br />
    <br />
    @Html.ActionLink("Partner", "Partner")
    <br />
    @Html.ActionLink("Pdv", "Pdv")
    <br />
    @Html.ActionLink("Artikl", "Artikl")
    <br />

</div>