@{
    ViewBag.Title = "Partnerići";
}

<div ng-app>

	<script src="@Url.Content("~/Scripts/Home/PartnerController.js")" type="text/javascript"></script>

	<h2>Partner</h2>


	<div ng-controller="PartnerController">
		<table id="PartnerTable"></table>
		<div id="PartnerTablePager"></div>
		
		<br /><br />

		<table>
			<tr>
				<td>Naziv:</td>
				<td><input ng-model="selectedPartner.Naziv" /></td>
				<td>OIB:</td>
				<td><input ng-model="selectedPartner.Oib" /></td>
				<td>Adresa:</td>
				<td><input ng-model="selectedPartner.Adresa" /></td>
				<td>Mjesto:</td>
				<td><input ng-model="selectedPartner.Mjesto" /></td>
				<td>Pošta:</td>
				<td><input ng-model="selectedPartner.Posta" /></td>
				<td>Valuta:</td>
				<td><input ng-model="selectedPartner.Valuta" /></td>
			</tr>
		</table>
		<input type="button" value="Pohrani" ng-click="save()" />
	</div>
</div>

<script type="text/javascript">
	$("#PartnerTable").jqGrid({
		url: "/JqGrid/GetPartnerCollectionForPaging",
		datatype: "json",
		colNames: ["PartnerId", "Naziv", "OIB", "Adresa"],
		colModel: [
			{ name: "PartnerId", index: "PartnerId", hidden: true, width: 0 },
			{ name: "Naziv", index: "Naziv", width: 100 },
			{ name: "Oib", index: "Oib", width: 100 },
			{ name: "Adresa", index: "Adresa", width: 100 }
		],
		pager: "#PartnerTablePager",
		caption: "Lista partnera"
	});
	
	$("#PartnerTable").jqGrid("navGrid", "#PartnerTablePager");
</script>