@{
    ViewBag.Title = "Partnerići";
}

<script src="@Url.Content("~/Scripts/Home/PartnerController.js")" type="text/javascript"></script>

<div>

	<h2>Partner</h2>

	<input type="button" value="Dodaj novog partnera" onclick="openPartnerDialog();" />
		
	<table id="PartnerTable"></table>
	<div id="PartnerTablePager"></div>	
	<br /><br />
	
	<div id="PartnerInput" ng-app>
	<div id="divNgController" ng-controller="PartnerController">
		<table>
			<tr>
				<td>Naziv:</td>
				<td>
					<input ng-model="selectedPartner.Naziv" />
				</td>
				<td>
					<span class="validation" name="RequiredField" ng-show="!validation.nazivExist()"></span>
					<span class="validation" ng-show="!validation.isNazivValid()">Naziv ne može imati više od 100 znakova</span>
				</td>
			</tr>
			<tr>
				<td>OIB:</td>
				<td>
					<input ng-model="selectedPartner.Oib" />
				</td>
				<td>
					<span class="validation" ng-show="!validation.isOibValid()">OIB mora imati 11 znakova</span>
				</td>
			</tr>
			<tr>
				<td>Adresa:</td>
				<td>
					<input ng-model="selectedPartner.Adresa" />
				</td>
				<td>
					<span class="validation" ng-show="!validation.isAdresaValid()">Adresa ne može imati više od 100 znakova</span>
				</td>
			</tr>
			<tr>
				<td>Mjesto:</td>
				<td>
					<input ng-model="selectedPartner.Mjesto" />
				</td>
				<td>
					<span class="validation" ng-show="!validation.isMjestoValid()">Mjesto ne može imati više od 20 znakova</span>
				</td>
			</tr>
			<tr>
				<td>Pošta:</td>
				<td>
					<input ng-model="selectedPartner.Posta" />
				</td>
				<td>
					<span class="validation" ng-show="!validation.isPostaValid()">Pošta ne može imati više od 10 znakova</span>
				</td>
			</tr>
			<tr>
				<td>Valuta:</td>
				<td>
					<input type="number" ng-model="selectedPartner.Valuta" />
				</td>
				<td>
					<span class="validation" ng-show="!validation.isValutaValid()">Neispravna valuta</span>
				</td>
			</tr>
			<tr id="tdAktivan" ng-show="!isSelectedPartnerNew()">
				<td>Aktivan:</td>
				<td>
					<input type="checkbox" ng-model="selectedPartner.IsActive" />
				<td>
				<td></td>
			</tr>
		</table>
		<input type="button" value="Pohrani" ng-click="save()" />
		<input type="button" value="Odustani" onclick="closePartnerDialog()" />

	</div>
	</div>
</div>

<script type="text/javascript">
	var ngControllerScope;
	
	function getNgControllerScope() {
		if (!ngControllerScope) {
			ngControllerScope = angular.element($("#divNgController")).scope();
		}
		
		return ngControllerScope;
	}
	
	var dataAnnotations = DataAnnotations();
	$("span[name=RequiredField]").text(dataAnnotations.Required);
	
	$("#PartnerInput").dialog({
		modal: true,
		width: "700px"
	});
	
	function closePartnerDialog() {
		$("#PartnerInput").dialog("close");
		
		var scope = getNgControllerScope();
		if (scope) {
			scope.clearPartner();
		}
	}
	
	function openPartnerDialog() {
		$("#PartnerInput").dialog("open");
	}
	
	function reloadPartnerGrid() {
		$("#PartnerTable").trigger("reloadGrid");
	}
	
	closePartnerDialog();
	
	$("#PartnerTable").jqGrid({
		url: "/JqGrid/GetPartnerCollectionForPaging",
		datatype: "json",
		colNames: ["PartnerId", "Naziv", "OIB", "Adresa", "Mjesto", "Pošta", "Valuta", "Aktivan"],
		colModel: [
			{ name: "PartnerId", index: "PartnerId", hidden: true, width: 0 },
			{ name: "Naziv", index: "Naziv", width: 250 },
			{ name: "Oib", index: "Oib", width: 90 },
			{ name: "Adresa", index: "Adresa", width: 200 },
			{ name: "Mjesto", index: "Mjesto", width: 100 },
			{ name: "Posta", index: "Posta", width: 70 },
			{ name: "Valuta", index: "Valuta", width: 50 },
			{ name: "IsActive", index: "IsActive", width: 50, formatter: 'select', editoptions: { value: 'true:Da;false:Ne'} }
		],
		pager: "#PartnerTablePager",
		caption: "Lista partnera",
		onSelectRow: function (id) {
			var rowData = $(this).getRowData(id);
			var scope = getNgControllerScope();
			scope.loadPartner(rowData["PartnerId"]);
			openPartnerDialog();
		}
	});
	
	$("#PartnerTable").jqGrid("navGrid", "#PartnerTablePager");
</script>